<%- include('partials/header-home') %>

<div class="jumbotron centered">
  <div class="container">
    <i style="color: #c40000" class="fab fa-facebook fa-6x"></i>
    <h1 class="text-primary"><strong>REDPHISH</strong></h1>
    <p class="lead">
      Facebook phising project. Don't use to harm anyone. Only for educational
      purposes
    </p>
    <hr />
    <a class="btn btn-success btn-lg btts" href="/register" role="button"
      >Register</a
    >
    <a class="btn btn-primary btn-lg btts" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
