<%- include('partials/header-home') %>
<div class="container mt-5">
  <h1 class="text-primary">Register</h1>

  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="name">Full name</label>
              <input id="name" type="text" class="form-control" name="name" />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                id="email"
                type="email"
                class="form-control"
                name="username"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                id="password"
                type="password"
                class="form-control"
                name="password"
              />
            </div>
            <button type="submit" class="btn btn-success btn-block">
              Register
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card social-block">
        <div class="card-body">
          <a href="/auth/google" class="google social-button"
            ><i class="fa fa-google fa-fw"> </i> Sign Up with Google
          </a>
        </div>
      </div>
      <div class="card social-block">
        <div class="card-body">
          <a href="/login" class="social-button sign-up"> Log In </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
